.myCafe{
  padding: 64px;
  background-color: #efe5ee;
}
.cafe{
  padding: 125px;
  background-image: url("https://s1.1zoom.me/b6031/871/Blueberries_Strawberry_Dessert_Cheesecake_Piece_537557_1920x1080.jpg"); 
  display: flex;
  justify-content: center;  
  align-items: center;
  color:#622d90;
  flex-direction: column;
  border: 1px solid whitesmoke;
  font-family: Verdana,Tahoma, sans-serif;
  font-style: normal;
  font-size: xx-large;
  /* opacity: 0.8; */
}

.myCafe1{
  margin:50;
  padding: 64px;
  background-color:rgb(255, 185, 196);
}

